{% extends "base.html" %}
{% block content %}
<h2>Edit recipe</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.short_description.label }} {{ form.short_description(class="form-control") }}</div>
    <div class="mb-3">{{ form.instructions.label }} {{ form.instructions(class="form-control", rows=6) }}</div>
    <div class="mb-3">{{ form.category.label }} {{ form.category(class="form-select") }}</div>
    <div class="mb-3">{{ form.image.label }} {{ form.image(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}
